.darkMode {
  background-color: #263238;
  color: #b0bec5;
}

.darkMode h1 {
  color: #eceff1;
}

.darkMode #projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.darkMode .btn-outline-secondary {
  color: white;
  border-color: white;
}

.darkMode #projects .card {
  background-color: #263238;
  color: #cfd8dc;
}

.darkMode #projects .card small {
  color: #b0bec5;
}

.darkMode #projects .card .btn-primary {
  background-color: #455a64;
  border-color: white;
  color: white;
}
.darkMode #projects .card .btn-primary:hover {
  background-color: #546e7a;
}

@media (max-width: 991px) {
  .darkMode .rounded-pill {
    background-color: #37474f;
    color: #b0bec5;
  }
  .darkMode .navbar {
    background-color: #37474f;
  }
}

.container-fluid {
  max-width: 80vw;
}

.rounded-pill {
  padding: 0.8rem 1rem;
  background-color: #2c3e50;
  color: white;
}

/* .navbar-brand .rounded-pill:hover {
  color: white;
} */

.rounded-pill:hover {
  color: orange;
}

h1 {
  color: #2c3e50;
  display: flex;
  justify-content: center;
  /* animation: 2s linear slidein; */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(0.8);
}

.carousel-indicators [data-bs-target] {
  background-color: #2c3e50;
}

/* @keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
} */

#about {
  max-width: 90vw;
}

.fadeIn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#projects {
  background: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
  max-width: 90vw;
}

#contact {
  max-width: 90vw;
  margin-bottom: 150px;
}

#happyCafe {
  display: block;
}

#photoAlbum {
  display: none;
}

#museum {
  display: none;
}

#project3 {
  display: none;
}

@media (max-width: 1399px) {
  #happyCafe .buildingBlocks {
    list-style-type: none;
  }
  #happyCafe .buildingBlocks p {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5em;
  }
  .rounded-pill {
    font-size: 0.8em;
    padding: 0;
    background-color: #708191;
    color: white;
  }
  .navbar {
    background-color: #708191;
  }
}

@media (max-width: 767px) {
  #photoAlbum .buildingBlocks {
    list-style-type: none;
  }
  .buildingBlocks p {
    margin-right: 10px;
  }
}
